<html>  
	<title> GNU Chess Wrapper </title> 
	<head>
		<style>
			header {
			    background-color:black;
			    color:white;
			    text-align:center;
			    padding:15px;	 
			}
			nav {
			    line-height:30px;
			    background-color:#eeeeee;
			    height:450px;
			    width:125px;
			    float:left;
			    padding:5px;	      
			}
			section {
			    padding:150px;
			    text-align:center;	 
			}
			footer {
			    background-color:black;
			    color:white;
			    clear:both;
			    text-align:center;
			    padding:5px;	 	 
			}
		</style>
	</head> 
<body> 
	<header>
		<h1>GNU Chess Wrapper</h1>
	</header> 
	<section>
		<h1>Load game list</h1>
		<p> 
		{% for c in loadnames %} 
		<br><span>{{c}}</span>
		{% endfor %}  
		<form action="/loadp" method="post">
			Load :<input type="input" name="loadname" size=20/> 
			<br><input type="submit" name="action" value="OK"/></br>
			{% csrf_token %}
		</form> 
		 
		<br><a href="/loadpass">Go back</a>  
		</p>
	</section> 
	<footer>
		Coded By Cugu & Sener
	</footer>

</body>
</html>
